!!!
%html(lang="en")
  %head
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    %title Apples and Oranges

  %body
    .container
      %h1.text-center Apples and Oranges

      = @tests |> Enum.map fn test ->
        .row
          .col-sm-6= test.path
        .row
          .col-sm-4
            accepted
            %img(src="#{ApplesAndOranges.Test.accepted_image_as_src(test)}")
          .col-sm-4
            current
            %img(src="#{ApplesAndOranges.Test.current_image_as_src(test)}")
          .col-sm-4
            diff
            %img(src="#{ApplesAndOranges.Test.diff_image_as_src(test)}")
      - end
