!!!
%html(lang="en")
  %head
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    %style(type="text/css")
      [class*="accepted"] {
        background-color: #42f207;
        display: none;
      }
      [class*="current"] {
        background-color: #e5ed47;
      }
      [class*="diff"] {
        background-color: #cc3300;
      }
    %script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js")
    %script(type="text/javascript")
      $(document).ready(function() {
        $("#hide-successes").on("change", function(event) {
          if (event.target.checked) {
            $(".accepted").css("display", "none");
          } else {
            $(".accepted").css("display", "table-row");
          }
        });
      });

    %title Apples and Oranges

  %body
    .container
      %h1.text-center Apples and Oranges

      %input#hide-successes(type="checkbox" checked="checked")
      %p Only show failures

      %table.table
        %thead
          %th Accepted
          %th Current
          %th Diff
        %tbody
          = @sets |> Enum.map fn set ->
            - status = ApplesAndOranges.ScreenshotSet.status(set)
            %tr(class="#{status}")
              %td(colspan=3)
                = set.path
            %tr(class="#{status}")
              %td
                = if ApplesAndOranges.ScreenshotSet.accepted_image(set) do
                  %a(href="#{ApplesAndOranges.ScreenshotSet.accepted_image_src(set)}" target="_blank")
                    %img(src="#{ApplesAndOranges.ScreenshotSet.accepted_image_src(set)}" height=200)
                - end
              %td
                = if ApplesAndOranges.ScreenshotSet.current_image(set) do
                  %a(href="#{ApplesAndOranges.ScreenshotSet.current_image_src(set)}" target="_blank")
                    %img(src="#{ApplesAndOranges.ScreenshotSet.current_image_src(set)}" height=200)
                  %br
                  %a.btn.btn-primary(role="button" href="/accept?path=#{set.path}")
                    Accept?
                - end
              %td
                = if ApplesAndOranges.ScreenshotSet.diff_image(set) do
                  %a(href="#{ApplesAndOranges.ScreenshotSet.diff_image_src(set)}" target="_blank")
                    %img(src="#{ApplesAndOranges.ScreenshotSet.diff_image_src(set)}" height=200)
                - end
          - end
